@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@plugin 'tailwind-scrollbar';

:root {
  /* Fonts */
  --font-sourceSansPro: "Source Sans Pro", "sans-serif";
  --font-nunito: "Nunito", sans-serif;
  --font-roboto-flex: "Roboto Flex", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Colors */
  --ghost-white: #f8f8f8;
  --white: #ffffff;
  --light-green: #28a745;
  --crimson: #dc143c;
  --warning-color: #ffcc00;
  --blue: #2c3a77;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --dark: #1f2937;
  --stale-gray: #9ca3af;
  --lavender: #e6e6fa;
  --gains-boro: #dcdcdc;
  --ice-berg: #d0e7f9;
   --off-white: #e3e9ee;
   --snow-flake-color: #f0f0f0;
}

.dark {
  --white: #f9f9f9;
  --ghost-white: #1f1f1f;
  --light-green: #22c55e;
  --crimson: #ff4c4c;
  --warning-color: #f59e0b;
  --blue: #3b82f6;
  --text-primary: #f3f4f6;
  --text-secondary: #9ca3af;
  --dark: #111827;
  --stale-gray: #6b7280;
  --lavender: #4b4266;
  --gains-boro: #555555;
  --ice-berg: #0f172a;
  --off-white: #1f262c;
  --snow-flake-color: #2d2d2d;


}
@theme {

  --font-sourceSansPro: var(--font-sourceSansPro);
  --font-nunito: var(--font-nunito);
  --font-roboto: var(--font-roboto-flex);
  --font-inter: var(--font-inter);

  --color-background: var(--white);
  --color-foreground: var(--ghost-white);

  --success: var(--light-green);
  --error: var(--crimson);
  --warning: var(--warning-color);

  --color-buttonPrimary: var(--blue);
  --color-buttonOutlineBorder: var(--blue);
  
  --color-text: var(--white);
  --color-text-Primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-textDark: var(--dark);
  --color-text-disable: var(--stale-gray);

  --color-border-lavender: var(--lavender);
  --color-border-gainsBoro: var(--gains-boro);
  --color-border-iceBerg: var(--ice-berg);
  --color-border-error: var(--crimson);
  --color-border-snowFlake: var(--snow-flake-color);


  --color-searchInputBorder: var(--off-white);
}

.html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
