@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@plugin 'tailwind-scrollbar';

:root {
  /* Fonts */
  --font-sourceSansPro: "Source Sans Pro", "sans-serif";
  --font-nunito: "Nunito", sans-serif;
  --font-roboto-flex: "Roboto Flex", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Colors */
  --ghost-white: #f8f8f8;
  --white: #ffffff;
  --light-green: #28a745;
  --crimson: #dc143c;
  --warning-color: #ffcc00;
  --blue: #2c3a77;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --dark: #1f2937;
  --stale-gray: #9ca3af;
  --lavender: #e6e6fa;
  --gains-boro: #dcdcdc;
  --ice-berg: #d0e7f9;
  --off-white: #e3e9ee;
  --snow-flake-color: #f0f0f0;

  --background: var(--white);
  --foreground: var(--ghost-white);

}

.dark {
  --ghost-white: #1a1a1a;
  --light-green: #1f7c35;
  --crimson: #b31232;
  --warning-color: #e6b800;
  --blue: #1e294f;
  --text-primary: #e5e7eb;
  --text-secondary: #9ca3af;
  --dark: #111827;
  --stale-gray: #6b7280;
  --lavender: #b8b8d9;
  --gains-boro: #4b5563;
  --ice-berg: #3a4d5d;
  --off-white: #2d3238;
  --snow-flake-color: #222222;

  --background: var(--dark);
  --foreground: var(--ghost-white);

}


@theme {

  --font-sourceSansPro: var(--font-sourceSansPro);
  --font-nunito: var(--font-nunito);
  --font-roboto: var(--font-roboto-flex);
  --font-inter: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --success: var(--light-green);
  --error: var(--crimson);
  --warning: var(--warning-color);

  --color-buttonPrimary: var(--blue);
  --color-buttonOutlineBorder: var(--blue);
  
  --color-text: var(--white);
  --color-text-Primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-textDark: var(--dark);
  --color-text-disable: var(--stale-gray);

  --color-border-lavender: var(--lavender);
  --color-border-gainsBoro: var(--gains-boro);
  --color-border-iceBerg: var(--ice-berg);
  --color-border-error: var(--crimson);
  --color-border-snowFlake: var(--snow-flake-color);


  --color-searchInputBorder: var(--off-white);
}

.html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
